<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tangym.sql.server.mapper.SqlExplainStarsMapper">
    <resultMap id="BaseResultMap" type="com.tangym.sql.server.entity.SqlExplainStars">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="job_number" jdbcType="VARCHAR" property="jobNumber"/>
        <result column="service_name" jdbcType="VARCHAR" property="serviceName"/>
    </resultMap>
    <sql id="Base_Column_List">
        id
        , job_number, service_name
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from sql_explain_stars
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete
        from sql_explain_stars
        where id = #{id,jdbcType=INTEGER}
    </delete>
    <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.tangym.sql.server.entity.SqlExplainStars"
            useGeneratedKeys="true">
        insert into sql_explain_stars (job_number, service_name)
        values (#{jobNumber,jdbcType=VARCHAR}, #{serviceName,jdbcType=VARCHAR})
    </insert>
    <insert id="insertSelective" keyColumn="id" keyProperty="id"
            parameterType="com.tangym.sql.server.entity.SqlExplainStars" useGeneratedKeys="true">
        insert into sql_explain_stars
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="jobNumber != null">
                job_number,
            </if>
            <if test="serviceName != null">
                service_name,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="jobNumber != null">
                #{jobNumber,jdbcType=VARCHAR},
            </if>
            <if test="serviceName != null">
                #{serviceName,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.tangym.sql.server.entity.SqlExplainStars">
        update sql_explain_stars
        <set>
            <if test="jobNumber != null">
                job_number = #{jobNumber,jdbcType=VARCHAR},
            </if>
            <if test="serviceName != null">
                service_name = #{serviceName,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.tangym.sql.server.entity.SqlExplainStars">
        update sql_explain_stars
        set job_number   = #{jobNumber,jdbcType=VARCHAR},
            service_name = #{serviceName,jdbcType=VARCHAR}
        where id = #{id,jdbcType=INTEGER}
    </update>
</mapper>
