<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tangym.sql.server.mapper.SqlExplainConfigRulesScriptMapper">
    <resultMap id="BaseResultMap" type="com.tangym.sql.server.entity.SqlExplainConfigRulesScript">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="script" jdbcType="VARCHAR" property="script"/>
        <result column="remark" jdbcType="VARCHAR" property="remark"/>
    </resultMap>
    <sql id="Base_Column_List">
        id
        , script, remark
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from sql_explain_config_rules_script
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete
        from sql_explain_config_rules_script
        where id = #{id,jdbcType=INTEGER}
    </delete>
    <insert id="insert" keyColumn="id" keyProperty="id"
            parameterType="com.tangym.sql.server.entity.SqlExplainConfigRulesScript" useGeneratedKeys="true">
        insert into sql_explain_config_rules_script (script, remark)
        values (#{script,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR})
    </insert>
    <insert id="insertSelective" keyColumn="id" keyProperty="id"
            parameterType="com.tangym.sql.server.entity.SqlExplainConfigRulesScript" useGeneratedKeys="true">
        insert into sql_explain_config_rules_script
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="script != null">
                script,
            </if>
            <if test="remark != null">
                remark,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="script != null">
                #{script,jdbcType=VARCHAR},
            </if>
            <if test="remark != null">
                #{remark,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective"
            parameterType="com.tangym.sql.server.entity.SqlExplainConfigRulesScript">
        update sql_explain_config_rules_script
        <set>
            <if test="script != null">
                script = #{script,jdbcType=VARCHAR},
            </if>
            <if test="remark != null">
                remark = #{remark,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.tangym.sql.server.entity.SqlExplainConfigRulesScript">
        update sql_explain_config_rules_script
        set script = #{script,jdbcType=VARCHAR},
            remark = #{remark,jdbcType=VARCHAR}
        where id = #{id,jdbcType=INTEGER}
    </update>
</mapper>
