<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tangym.sql.server.mapper.SqlExplainConfigRulesMapper">
    <resultMap id="BaseResultMap" type="com.tangym.sql.server.entity.SqlExplainConfigRules">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="rule_name" jdbcType="VARCHAR" property="ruleName"/>
        <result column="rule_detail" jdbcType="VARCHAR" property="ruleDetail"/>
        <result column="rule_key" jdbcType="VARCHAR" property="ruleKey"/>
    </resultMap>
    <sql id="Base_Column_List">
        id
        , rule_name, rule_detail, rule_key
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from sql_explain_config_rules
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete
        from sql_explain_config_rules
        where id = #{id,jdbcType=INTEGER}
    </delete>
    <insert id="insert" keyColumn="id" keyProperty="id"
            parameterType="com.tangym.sql.server.entity.SqlExplainConfigRules" useGeneratedKeys="true">
        insert into sql_explain_config_rules (rule_name, rule_detail, rule_key)
        values (#{ruleName,jdbcType=VARCHAR}, #{ruleDetail,jdbcType=VARCHAR}, #{ruleKey,jdbcType=VARCHAR})
    </insert>
    <insert id="insertSelective" keyColumn="id" keyProperty="id"
            parameterType="com.tangym.sql.server.entity.SqlExplainConfigRules" useGeneratedKeys="true">
        insert into sql_explain_config_rules
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="ruleName != null">
                rule_name,
            </if>
            <if test="ruleDetail != null">
                rule_detail,
            </if>
            <if test="ruleKey != null">
                rule_key,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="ruleName != null">
                #{ruleName,jdbcType=VARCHAR},
            </if>
            <if test="ruleDetail != null">
                #{ruleDetail,jdbcType=VARCHAR},
            </if>
            <if test="ruleKey != null">
                #{ruleKey,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.tangym.sql.server.entity.SqlExplainConfigRules">
        update sql_explain_config_rules
        <set>
            <if test="ruleName != null">
                rule_name = #{ruleName,jdbcType=VARCHAR},
            </if>
            <if test="ruleDetail != null">
                rule_detail = #{ruleDetail,jdbcType=VARCHAR},
            </if>
            <if test="ruleKey != null">
                rule_key = #{ruleKey,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.tangym.sql.server.entity.SqlExplainConfigRules">
        update sql_explain_config_rules
        set rule_name   = #{ruleName,jdbcType=VARCHAR},
            rule_detail = #{ruleDetail,jdbcType=VARCHAR},
            rule_key    = #{ruleKey,jdbcType=VARCHAR}
        where id = #{id,jdbcType=INTEGER}
    </update>
</mapper>
