.ant-layout-header {
    height: 50px !important;
}

.ant-layout-footer {
    color: #586069 !important;
    font-size: 14px;
    text-align: center;
    padding: 14px 0px;
}

#components-layout-demo-top-side .top-menu[data-v-7ba5bd90] {
    line-height: 50px;
    position: absolute;
    left: 250px;
}

.ant-advanced-search-form {
    padding: 12px !important;
    background: @searchform-bgcolor;
    border: 1px solid #d9d9d9;
    border-radius: 6px;
    .ant-form-item {
        display: flex;
    }
    .ant-form-item-control-wrapper {
        flex: 1;
    }
}

#components-form-demo-advanced-search {
    .ant-form {
        max-width: none;
    }
    .search-result-list {
        margin-top: 16px;
        border: 1px dashed #e9e9e9;
        border-radius: 6px;
        background-color: #fafafa;
        min-height: 200px;
        text-align: center;
        padding-top: 80px;
    }
}

/*有固定行的ant-design-vue 表格滑动样式*/
.ant-table-fixed .ant-table-row-hover {
    background: #eef1f6 !important;
}
.ant-table-fixed .ant-table-row-hover > td {
    background: #eef1f6 !important;
}
/*没有固定行的表格个样式*/
.ant-table-tbody > tr:hover:not(.ant-table-expanded-row) > td {
    background-color: rgba(241, 248, 242, 0.945) !important;
}
.ant-table-body .ant-table-row-hover {
    background: #f1f6fd !important;
}
.ant-table-body .ant-table-row-hover > td {
    background: #f1f6fd !important;
}

.1 {
    background: #cdcbcb !important;
}
